@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .reveal-up {
    animation: revealUp 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    opacity: 0;
    transform: translateY(40px);
  }

  @keyframes revealUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .text-balance {
    text-wrap: balance;
  }
}
